<ion-header>
	<ion-navbar color="teal">
		<ion-title>{{ 'ITEMS_PAGE.TITLE' | translate }}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="close()">
				<ion-icon name="home"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content *ngIf="splitLoaded | async">

	<ion-list class="no-border-top">
		<ion-item>
			<h2 text-wrap class="note" *ngIf="split.itemList.count === 0" [innerHTML]="'ITEMS_PAGE.TIP_ADD' | translate | iconHtml"></h2>
			<h2 text-wrap class="note" *ngIf="split.itemList.count !== 0">{{ 'ITEMS_PAGE.TIP_MORE_OPTIONS' | translate }}</h2>
		</ion-item>
	</ion-list>

	<ion-list *ngIf="split.itemList.count !== 0">
		<ion-item *ngFor="let item of split.itemList.items" (tap)="itemOrders(item)" (press)="showActions(item)">
			<ion-avatar item-start text-avatar [id]="item.id" [text]="item.initials" shape="SQUARE"></ion-avatar>
			<h2 *ngIf="item.quantity === 1">{{ item.name }}</h2>
			<h2 *ngIf="item.quantity !== 1">{{ item.name }} &times; {{ item.quantity }}</h2>
			<p text-wrap *ngIf="split.orders.getOrdersForItem(item).length === 1">{{ 'ITEMS_PAGE.ORDERED_BY' | translate }} {{ ListHelpers.names(split.orders.getOrdersForItem(item), split.personList) }}</p>
			<p text-wrap *ngIf="split.orders.getOrdersForItem(item).length > 1">{{ 'ITEMS_PAGE.SHARED_BY' | translate }} {{ ListHelpers.names(split.orders.getOrdersForItem(item), split.personList, 2) }}</p>
			<h2 item-right>{{ item.total | number:'1.0-2' }}</h2>
			<ion-icon *ngIf="split.orders.getOrdersForItem(item).length === 0" item-right name="warning" color="danger"></ion-icon>
		</ion-item>
	</ion-list>
	<ion-list class="compact" *ngIf="split.itemList.count !== 0">
		<ion-item>
			<p>{{ split.itemList.count }} {{ (split.itemList.count === 1 ? 'ITEMS_PAGE.SINGULAR' : 'ITEMS_PAGE.PLURAL') | translate }}
			<p item-right>{{ 'ITEMS_PAGE.TOTAL' | translate }} {{ split.itemList.totalAmount | number:'1.0-2' }}</p>
		</ion-item>
	</ion-list>

	<div class="fab-spacer"></div>

	<ion-fab left bottom>
		<button ion-fab color="teal" (tap)="nextPage()">{{ 'ITEMS_PAGE.NEXT_PAGE' | translate }}</button>
	</ion-fab>

	<ion-fab right bottom>
		<button ion-fab color="teal" (tap)="addItem()">
			<ion-icon name="cafe"></ion-icon>
		</button>
	</ion-fab>

</ion-content>
