<ion-header>
	<ion-navbar color="teal">
		<ion-title>{{ 'PERSON_DEPENDANTS_PAGE.TITLE' | translate }}</ion-title>
		<ion-buttons end>
			<button ion-button (click)="close()">
				<ion-icon name="checkmark"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content *ngIf="splitLoaded | async">

	<ion-card class="padding">
		<ion-item>
			<ion-avatar item-start text-avatar [id]="person.id" [text]="person.initials" shape="CIRCLE"></ion-avatar>
			<h2>{{ person.name }}</h2>
		</ion-item>
	</ion-card>

	<ion-list class="compact no-border-top">
		<ion-item>
			<p>{{ 'PERSON_DEPENDANTS_PAGE.COVERING_EXPENSES_FOR' | translate }}</p>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-item *ngFor="let opt of options">
			<ion-avatar item-start text-avatar [id]="opt.person.id" [text]="opt.person.initials" shape="CIRCLE"></ion-avatar>
			<ion-label>{{ opt.person.name }}</ion-label>
			<ion-checkbox item-end color="teal" [(ngModel)]="opt.checked"></ion-checkbox>
		</ion-item>
	</ion-list>

</ion-content>
